.section
  %h2 Selected Community Activities

  %dl
    %dt 2012 &ndash;
    %dd
      %i Moderator,
      \/r/starcraft

    %dt 2012
    %dd
      %i Reviewer,
      AINA 2012

    %dt 2011
    %dd
      %i Student Volunteer,
      MODELS 2011
      %br
      %i Social Events Chair,
      NZCSRSC 2011

    %dt 2010 &ndash;
    %dd
      %i Program Committee,
      AI Mashup Challenge

    %dt 2008 &ndash; 2011
    %dd
      %i President,
      TINA

    %dt 2003 &ndash; 2004
    %dd
      %i Secretary,
      T-COSY

    %dt 2001
    %dd
      %i Volunteer,
      SPCA

    %dt 1998
    %dd
      %i Volunteer,
      Children's Trust of Barnados
