.section
  %h2 Selected Community Activities

  %dl
    %dt 2015 &ndash;
    %dd
      %i Treasurer,
      Outerspaces Charitable Trust
      %br
      %i Volunteer,
      Naming New Zealand

    %dt 2014 &ndash;
    %dd
      %i Facilitator,
      Tranzform Wellington
      %br
      %i Volunteer,
      Rails Girls Wellington

    %dt 2012 &ndash; 2014
    %dd
      %i Moderator,
      \/r/starcraft

    / %dt 2012
    / %dd
    /   %i Reviewer,
    /   AINA 2012

    %dt 2011
    %dd
      %i Student Volunteer,
      MODELS 2011
      %br
      %i Social Events Chair,
      NZCSRSC 2011

    %dt 2010 &ndash; 2013
    %dd
      %i Program Committee,
      AI Mashup Challenge

    %dt 2008 &ndash; 2011
    %dd
      %i President,
      TINA

    %dt 2003 &ndash; 2004
    %dd
      %i Secretary,
      T-COSY

    / %dt 2001
    / %dd
    /   %i Volunteer,
    /   SPCA

    / %dt 1998
    / %dd
    /   %i Volunteer,
    /   Children's Trust of Barnados
