.section.page-break-after
  %h2 Open Source Development

  %dl
    %dt New projects
    %dd
      %i simplectest
      (2005),
      %i IAML
      (2008),
      %i fridgex
      (2008),
      %i iacleaner
      (2009),
      %i openclerk
      (2013)

    %dt Existing projects
    %dd
      %i JWebUnit
      (2008)

    %dt GitHub
    %dd != link_to("https://github.com/soundasleep")

    %dt Google Code
    %dd != link_to("http://code.google.com/u/soundasleep/")
