.section
  %h2 Open Source Contributions

  %dl
    %dt GitHub
    %dd != link_to("https://github.com/soundasleep")

    %dt Notable projects
    %dd
      %i != link_to("http://simplectest.sourceforge.net/", "simplectest")
      (2005),
      %i != link_to("http://openiaml.org", "IAML")
      (2008),
      %i != link_to("http://jwebunit.sourceforge.net/", "JWebUnit")
      (2008),
      %i != link_to("https://code.google.com/p/iacleaner/", "iacleaner")
      (2009),
      %i != link_to("https://github.com/soundasleep/html2text", "html2text")
      (2008),
      %i != link_to("http://openclerk.org", "openclerk")
      (2013),
      %i != link_to("https://github.com/soundasleep/spritify", "spritify")
      (2014),
      %i != link_to("https://github.com/soundasleep/statgit", "statgit")
      (2015),
      %i != link_to("https://github.com/soundasleep/phpdoc2", "phpdoc2")
      (2015)
