.section
  %h2 Selected Publications

  %dl
    %dt 2011
    %dd
      J. Wright,
      %i "A Modelling Language for Rich Internet Applications",
      %br
      Ph.D. Thesis, Massey University, New Zealand.

    %dt 2010
    %dd
      J. Wright and J. Dietrich,
      %i "Non-Monotonic Model Completion in Web Application Engineering,"
      in Proceedings of the 21st Australian Software Engineering Conference (ASWEC 2010), Auckland, New Zealand.

    %dt 2009
    %dd
      J. Wright,
      %i "A Modelling Language for Interactive Web Applications,"
      in Proceedings of the Doctoral Symposium at the 24th International Conference on Automated Software Engineering (ASE 2009), Auckland, New Zealand.

.float-right.small
  %i
    != link_to("https://jevon.org/wiki/Research")
