.section
  %h2 Qualifications

  %dl
    %dt 2015
    %dd
      Provide First Aid - Level 2
      %br
      St John, Wellington, New Zealand

    %dt 2015
    %dd
      Te Reo M&#257;ori - Introductory 2
      %br
      Community Education Centre, Wellington, New Zealand

    %dt 2007 &ndash; 2011
    %dd
      Ph.D. (Computer Science)
      %br
      School of Engineering and Advanced Technology
      %br
      Massey University, Palmerston North, New Zealand
      %br
      Title:
      %i A Modelling Language for Rich Internet Applications

    %dt 2002 &ndash; 2005
    %dd
      B.Eng. (Software Engineering) with First Class Honours
      %br
      Massey University, Palmerston North, New Zealand
