.section.page-break-after
  %h2 Key Skills

  %p
    Software engineering and architecture; project management; testing;
    database and system administration; open source; cryptocurrencies;
    facilitation; community management; research

.section
  %h2 Skill Summary

  %dl
    %dt Proficient in
    %dd
      %ul.skills
        %li
          %i General-purpose languages &ndash;
          PHP, Ruby, Java, Javascript, Coffeescript, C, C++

        %li
          %i Web languages &ndash;
          CSS, SCSS, HAML, HTML, XML, RSS, Smarty, ASP, JSP

        %li
          %i Server web frameworks &ndash;
          Ruby on Rails, Drupal, Alfresco, Symfony

        %li
          %i Client web frameworks &ndash;
          EmberJS, JQuery, bootstrap, AJAX, REST etc.

        %li
          %i Version control systems &ndash;
          Git, Subversion, CVS

        %li
          %i Software packaging &ndash;
          Composer, NPM, Bower

        %li
          %i Build tools &ndash;
          Grunt, Ant, Hudson, Maven, make

        %li
          %i Database systems &ndash;
          MySQL, sqlite

        %li
          %i Web servers &ndash;
          Apache, Tomcat, IIS

        %li
          %i Operating systems &ndash;
          Microsoft Windows, Ubuntu Linux

        %li
          %i Eclipse technologies &ndash;
          EMF, GMF, PDE, oAW, Xpand, SWT

        %li
          %i Testing frameworks &ndash;
          Mocha, QUnit, JUnit, JWebUnit, PHPUnit, simplectest (C), SimpleTest (PHP) etc.

        %li
          %i Domain-specific languages &ndash;
          UML, MOF, WebML, IAML

        %li
          %i Verification & semantic languages &ndash;
          Drools, OCL, CrocoPat, Jess, Jena, NuSMV, Alloy, LTL, Atom, RDF, FOAF, OWL

        %li
          %i Visualisation technology &ndash;
          JMonkeyEngine, X3D, VRML, dot

        %li
          %i Office tools &ndash;
          Microsoft Office, LibreOffice, Paint Shop Pro, Cygwin etc.

        %li
          %i Other experience &ndash;
          LaTeX, XPath, Delphi, Prolog, Matlab, XML schema, XML stylesheets, YAML, CMIS, GPG, Lua, nginx, Visual Basic 6, VBScript, Xdebug, KCacheGrind, Amazon S3 etc.

    %dt Methodologies
    %dd
      %ul
        %li Test-driven, iterative, evolutionary, and agile development
        %li Continuous integration and automation
        %li Documentation generation
