.section.page-break-after
  %h2 Key Skills

  %p
    Software engineering; web engineering; project management; software architecture;
    database and system administration; open source development; cryptocurrencies; research

.section
  %h2 Skill Summary

  %dl
    %dt Proficient in
    %dd
      %ul.skills
        %li
          %i General-purpose languages &ndash;
          Java, Javascript, Lua, C, C++, Visual Basic 6

        %li
          %i Web languages &ndash;
          PHP, ASP, JSP, VBScript, CSS, HTML, XML, RSS, Smarty

        %li
          %i Server web frameworks &ndash;
          Drupal (PHP), Alfresco (Java), Symfony (PHP)

        %li
          %i Client web frameworks &ndash;
          JQuery, bootstrap, AJAX, REST etc.

        %li
          %i RDBMSes &ndash;
          MySQL, sqlite

        %li
          %i Web servers &ndash;
          Apache, Tomcat, IIS

        %li
          %i Linux &ndash;
          Ubuntu 10.04 LTS, 12.04 LTS

        %li
          %i Eclipse technologies &ndash;
          EMF, GMF, PDE, oAW, Xpand, SWT

        %li
          %i Testing frameworks &ndash;
          JUnit, JWebUnit, simplectest (C), SimpleTest (PHP)

        %li
          %i Domain-specific languages &ndash;
          UML, MOF, WebML, IAML

        %li
          %i Verification & semantic languages &ndash;
          Drools, OCL, CrocoPat, Jess, Jena, NuSMV, Alloy, LTL, Atom, RDF, FOAF, OWL

        %li
          %i Visualisation technology &ndash;
          JMonkeyEngine, X3D, VRML, dot

        %li
          %i Version control systems &ndash;
          CVS, SVN

        %li
          %i Office tools &ndash;
          Microsoft Office, LibreOffice, Paint Shop Pro, Cygwin etc.

        %li
          %i Build tools &ndash;
          Ant, Hudson, Maven, make

        %li
          %i Other experience &ndash;
          LaTeX, XPath, Delphi, Prolog, Matlab, XML schema, XML stylesheets, YAML, CMIS, GPG, Amazon S3 etc.

    %dt Methodologies
    %dd
      %ul
        %li Test-driven, iterative, evolutionary, and agile development
        %li Continuous integration and automation
        %li Documentation generation
